@font-face{
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}
@font-face{
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face{
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}
@font-face{
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

.page{
  height: 100%;
}
.page-body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color:#444444;
  background-color: #fff;

}
.page-header{
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
}
.main-container {
  flex-grow: 1;
}
input[type="search"],[type="email"] {
  background-color: transparent;
  border: none;
}
.header-active-container{
  width: 1075px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.user-navigation{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 535px;
  font-size: 16px;
  line-height: 19px;
}
.header-navigation{
  width: 1041px;
  margin: 0 auto;
}
.header-page-links{
  margin: 0;
}
.header-page-links li{
  display: inline;
}
.header-navigation{
  width: 1041px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.search-container{
  width: 480px;
}
.header-categories-submenu{
  display: none;
}

.page-navigation, .footer-navigation {
  font-family: "Raleway", sans-serif;
  font-size: inherit;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.2em;

}
.submenu-list{
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
header a{
  color:black;
}
.slider-title{
  font-family: "Raleway", sans-serif;
  font-size: 50px;
}
.button {
  font-family: 'Raleway', sans-serif;;
  font-size: inherit;
  letter-spacing: 0.2em;
  line-height: 21px;
  text-align: center;
  color: black;
  background-color: #ffe17f;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}
.feature-value{
  font-size: 36px;
  line-height: 30px;
  color: black;
}
.feature-name{
  font-size: 16px;
  line-height: 30px;
}
.page-categories-text{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: black;
}
.services{
  background-color: #F0F0F0;
}
h1{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: black;
}
h2, h3{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: black;
}
h4{
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.carriers{
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.page-header{
  background-color: #FFE17F;
}

.services p{
  background-color: #F0F0F0;
  line-height: 30px;
}
.visually-hidden{
  display: none;
}
.page-categories-item{
  background-color: #FFE17F;
}
.slide2, .slide3 {
  display: none;
}
.order-delivery-container{
  display: block;
  background-color: #F0F0F0;
  width: 1160px;
  height: 100px;
}
.delivery-icon{
  display: inline-block;
  background-color: #FFE17F;
  width: 125px;
  height: 100px;
}
.subscription{
  background-color: #F0F0F0;
}
footer{
  background-color: #444444;
}
.sorting-container{
  background-color: #EBEBEB;
}
.filters{
  background-color: #EBEBEB;
}
.filter-title, .sorting-label, .download-more{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
  background-color: #DCDCDC;
}
.select-control, .filter-checkbox-products, .filter-radio-list{
  font-size: 16px;
  line-height: 19px;
  color: black;
}
.filter-legend{
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: black;
}
.pagination-container{
  background-color: #EBEBEB;
}

footer{
  color: white;
}

.footer-info p{
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs{
  font-size: 16px;
  line-height: 19px;
  color: black;
  opacity: 0.6
}
.breadcrumbs-item-link{
  color:#444444;
}
.catalog-product-name{
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: black;
}
.catalog-product-price{
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.pagination a{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
}
.pagination-list a{
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
  color: #444444;
}

.telephone{
  font-size: 16px;
  line-height: 30px;
}
footer .navigation-item-link, a{
  color: white;
}

.socials-list{
  display: flex;
}
.socials-list-item{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3)
}
.facebook{
  background: url('/img/icon-facebook.svg') no-repeat center;
}

.instagram{
  background:  url('/img/icon-instagram.svg') no-repeat center;
}

.twitter{
  background: url('/img/icon-twitter.svg') no-repeat;
}
